doctype html
html(lang="en")
  head
    title Markdown Builder
    link(rel="stylesheet" href="/main.css")
  body
    .container
      h1.headline Build your markdown
      p.description
        | Journey your markdown to the Userland. And yay! I have 
        a(href="#") pretty nice API
        |  for you! :D
    .editor
      form(method="POST" action="/gist")
        .container
          label.markdown-title-label #
          input.markdown-title(name="title" placeholder="Title" autocomplete="off" value=title)
          textarea.markdown(name="content" placeholder="Just put it right here…")= content
        .container
          button(type="submit") Save
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="/app.js")
