doctype html
html(lang="en")
  head
    title Markdown Builder
    link(rel="stylesheet" href="/main.css")
  body
    .container
      h1.headline Build your markdown
      p.description
        | Journey your markdown to the Userland. And yay! I have 
        a(href="#") pretty nice API
        |  for you! :D
    .editor
      .container
        label.markdown-title-label #
        input.markdown-title(name="author" placeholder="Title" autocomplete="off")
        textarea.markdown(name="content" placeholder="Just put it right here…")
    .container
      button(type="submit" format="gist") Save
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="/app.js")
